*{
  font-family: 'Noto Sans KR', sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  color: gray;
}
.logo{
  position:absolute;
  left: 20px;
  background-color: red;
  padding: 0px 0px 35px;
  border-radius: 30px;
}
.top{
  position:absolute;
  left: 260px;
  display:flex;
  width:1260px;
  height: 80px;
  margin:auto;
  line-height: 100px;
}
.nav, .search > form > ul, .nav2{
  display: flex;
}
.nav > li{
  margin-right: 20px;
  padding: 0px;
}
.maintag, .price {
  color: orange;
  font-size: 20pt;
  font-weight: 700;
}
.top > .nav > li > a:hover, 
.search > form > ul > li > input:hover, 
.search > form > ul > li > a:hover{
  color: red;
}
.search{
  position:absolute;
  left: 850px;
}
.search > form > ul > li{
  padding-right: 15px;
}
.search > form > ul > li:nth-child(1) > input{
  padding-left: 10px;
  border: 1px;
  width: 200px;
  height: 40px;
  color: black;
}
.middle{
  position: absolute;
  left: 0px;
  top: 130px;
  width: 100%;
  height: 2500px;
  background-color: rgb(236, 236, 236);
}
.nav2{
  position: absolute;
  left: 250px;
  top: 30px;
  background-color: rgb(219, 219, 219);
  width: 1000px;
  height: 50px;

}
.middle > .nav2 > li{
  margin: 15px 15px 15px 22px;
}
.middle > .nav2 > li:hover{
  text-decoration: underline;
  color: gray;
}
#category{
  position: absolute;
  left: 250px;
  top: 120px;
  font-weight: 700;
  font-size: 30px;
}
.container{
  display: flex;
  margin: 200px 120px 0px;
  width: 1280px;
  height: 2000px;
  background-color: rgb(219, 219, 219);
  flex-wrap: wrap;
  justify-content:space-evenly;
}
.item{
  margin: 25px;
  background-color: rgb(236, 236, 236);
  border: 1px;
  width: 300px;
  height: 300px;
  text-align: center;
}
/* 122번 줄까지 사진 확대 내용 */
.item, .photo{
  overflow: hidden;
}
.photo > img{
  width: 100%;
  height: auto;
}
.item > img{
  transition-duration: 0.3s;
}
.photo img:hover{
  transform: scale(1.2, 1.2);
  transition-duration: 0.5s;
}
.price{
  margin:0px 10px 10px 70px;
}
.list{
  margin: 20px 25px 25px;
  text-align: left;
  font-size: 15pt;
}
.list:hover{
  text-decoration: underline;
  /* color: blueviolet;       밑줄은 되는데 글자색이 변하지는 않았다*/
}
.bottom{
  position: absolute;
  left: 0;
  top: 2500px;
}
.bottom > img{
  width: 1550px;
}